@model OrderViewInfo
@{
    Layout = null;
}
<div class="modal-header text-bg-info">
    <strong class="modal-title">Duyệt chấp nhận đơn hàng</strong>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
    <div class="alert alert-info">
        <i class="bi bi-info-circle me-2"></i>
        Bạn có chắc chắn muốn duyệt đơn hàng <strong>#@Model.OrderID</strong>
        của khách <strong>@Model.CustomerName</strong> không?
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary"
            onclick="processOrder('@Url.Action("Accept", "Order", new { id = Model.OrderID })')">
        <i class="bi bi-check"></i> Chấp nhận
    </button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Đóng
    </button>
</div>